<!--/*
*  ***********************************************************************
*  ASSA ABLOY Americas CONFIDENTIAL
*  ___________________
*
*  Copyright 2021 ASSA ABLOY Americas
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of ASSA ABLOY Americas and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to ASSA ABLOY Americas
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from ASSA ABLOY Americas.
*  ***********************************************************************
*/-->

<sly data-sly-use.headerModel="com.assaabloy.americas.onecms.core.models.Header"/>

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>

<sly data-sly-call="${clientLib.all @ categories='assa-abloy-onecms.one-cms-library'}" />


<div data-sly-test="${wcmmode.edit || wcmmode.design}">
 Configure Header Component
</div>
     <assa-header model=${headerModel.jsonData}></assa-header>

<sly data-sly-list.head="${headerModel.navItems}">


<sly data-sly-set.identifier="megamenuItems/${head.navItemLabel}"/>

     <div>
        <sly data-sly-resource="${ identifier @ resourceType='onecms/components/content/megamenu'}"/>
               <div data-sly-test="${wcmmode.edit || wcmmode.design}">
                    Configure MegaMenu for : ${head.navItemLabel}
               </div>
     </div>
</sly>





<sly data-sly-use.headerModel="com.assaabloy.americas.onecms.core.models.Header"/>

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>

<sly data-sly-call="${clientLib.all @ categories='assa-abloy-onecms.one-cms-library'}" />



<div data-sly-test="${wcmmode.edit || wcmmode.design}">
 Configure Header Component
</div>

     <assa-header model=${headerModel.jsonData}></assa-header>

<sly data-sly-list.head="${headerModel.navItems}">
     <sly data-sly-set.identifier="megamenuItems/${head.navItemLabel}"/>
          <div data-sly-test="${head.enableMegaMenu}">
               <sly data-sly-resource="${ identifier @ resourceType='onecms/components/content/megamenu'}"/>
                    <div data-sly-test="${wcmmode.edit || wcmmode.design}">
                         ${head.navItemLabel} 's MegaMenu Configurations 
                    </div>
          </div>
</sly>

